@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes spin-slow {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

@keyframes drawLine {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}

.left-line {
  animation: drawLine 1s ease-in-out forwards;
}

.right-line {
  animation: drawLine 1s ease-in-out forwards;
}


.filter-gray {
  filter: grayscale(100%);
}

.filter-orange {
  filter: brightness(0) saturate(100%) invert(56%) sepia(94%) saturate(545%) hue-rotate(4deg) brightness(103%) contrast(101%);
}

/* styles/globals.css */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}